{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block content %}
  <p>País: {{ object.country }}</p>
  <p>Ciudad: {{ object.city }}</p>
  <p>Fecha: {{ object.date | date }}</p>
  <p>Máxima cantidad de personas: {{ object.max_persons }}</p>

  {% if request.user.is_authenticated and not request.user.is_superuser %}
    <h2>Reserva tu ticket!</h2>
    <form class="form-horizontal" method="post" action="{% url 'party:detail' object.slug %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  {% endif %}

  {% if request.user.is_superuser %}
    <h2>Tickets reservados:</h2>
    <ul>
      {% for ticket in tickets %}
        <li>
          {{ ticket.customer.name }} - {{ ticket.ticket.type }}
        </li>
      {% empty %}
        No tickets reserved for this party yet!
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
