{% extends "base.html" %}

{% block title %}Party lists{% endblock %}

{% block content %}
  <ul>
    {% for party in object_list  %}
      <li>
        <a href="{% url 'party:detail' party.slug %}">
          {{ party.date|date }} - {{ party.name }}
        </a>
        {% if user.is_superuser %}
          <a href="{% url 'party:update' party.slug %}">
            Update
          </a>
          <a href="{% url 'party:delete' party.slug %}">
            Delete
          </a>
        {% endif %}
      </li>
    {% empty %}
      <li>No Party yet.</li>
    {% endfor %}
    {% if user.is_superuser %}
      <a href="{% url 'party:new' %}">New party</a>
    {% endif %}
  </ul>
{% endblock %}
