{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit party!{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post"">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
