{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Delete Party "{{object.name}}"{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </form>
{% endblock %}
